Repository koobiq/angular-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lskramarov, @NikGurev, @artembelik

fix(dropdown): item caption color (#DS-3342) (#570)
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/dropdown-tokens.scss
Owners: @lskramarov, @NikGurev, @artembelik

feat: support dynamic hiding items in 3 dots
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
Owners: @NikGurev

feat(docs,icon): updated koobiq/icons version (#DS-3411)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Owners: @lskramarov, @NikGurev, @artembelik

fix: pipe-add height
  packages/components/filter-bar/pipe-add.scss
  packages/components/filter-bar/pipe-add.ts
Owners: @lskramarov

fix: svgPreview
  apps/docs/src/app/services/documentation-items.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: unexpected margin
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-text.html
Owners: @lskramarov

fix: dropdown padding
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/popover/popover.component.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(breadcrumbs): support wrap mode (#DS-3352)
  packages/components-dev/breadcrumbs/template.html
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
  packages/docs-examples/components/breadcrumbs/index.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @lskramarov, @NikGurev, @artembelik

feat: support dynamic hiding items in 3 dots
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
Owners: @NikGurev

chore: fixed checks
  packages/components/breadcrumbs/breadcrumbs.spec.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @NikGurev, @lskramarov, @artembelik

feat(docs,icon): updated koobiq/icons version (#DS-3411) (#572)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Owners: @lskramarov, @NikGurev, @artembelik

fix(dropdown): dynamic submenu rendering (#DS-3454)
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.types.ts
  packages/docs-examples/components/dropdown/dropdown-recursive-template/dropdown-recursive-template-example.ts
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/dropdown.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(tree): selection by metaKey (#DS-3453)
  packages/components/list/list-selection.component.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(icon): added input for icon name (#DS-3420)
  packages/components/icon/icon-button.component.ts
  packages/components/icon/icon-item.component.ts
  packages/components/icon/icon.component.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: golden file
  tools/public_api_guard/components/icon.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: unit
  packages/components-experimental/form-field/__snapshots__/form-field.spec.ts.snap
Owners: @lskramarov, @NikGurev, @artembelik

chore(dropdown): fix units
  packages/components/dropdown/dropdown.spec.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: added description for input
  packages/components/icon/icon-button.component.ts
  packages/components/icon/icon-item.component.ts
  packages/components/icon/icon.component.ts
Owners: @lskramarov, @NikGurev, @artembelik

chore(dropdown): fix example text
  packages/docs-examples/components/dropdown/dropdown-recursive-template/dropdown-recursive-template-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: deleted get and set
  packages/components/icon/icon-button.component.ts
  packages/components/icon/icon-item.component.ts
  packages/components/icon/icon.component.ts
  tools/public_api_guard/components/icon.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: unit
  packages/components-experimental/form-field/__snapshots__/form-field.spec.ts.snap
Owners: @lskramarov, @NikGurev, @artembelik

chore(dropdown): fix for non dynamic submenu
  packages/components/dropdown/dropdown-trigger.directive.ts
Owners: @lskramarov, @NikGurev, @artembelik

chore(dropdown): fix docs text
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(dropdown): dynamic submenu rendering (#DS-3454) (#573)
  packages/components/dropdown/dropdown-trigger.directive.ts
  packages/components/dropdown/dropdown.component.ts
  packages/components/dropdown/dropdown.en.md
  packages/components/dropdown/dropdown.ru.md
  packages/components/dropdown/dropdown.spec.ts
  packages/components/dropdown/dropdown.types.ts
  packages/docs-examples/components/dropdown/dropdown-recursive-template/dropdown-recursive-template-example.ts
  packages/docs-examples/components/dropdown/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/dropdown.api.md
Owners: @lskramarov, @NikGurev, @artembelik

feat(icon): added input for icon name (#DS-3420) (#574)
  packages/components-experimental/form-field/__snapshots__/form-field.spec.ts.snap
  packages/components/icon/icon-button.component.ts
  packages/components/icon/icon-item.component.ts
  packages/components/icon/icon.component.ts
  tools/public_api_guard/components/icon.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(tree): selection by metaKey (#DS-3453) (#575)
  packages/components/list/list-selection.component.ts
  packages/components/tree-select/tree-select.component.ts
  packages/components/tree/tree-option.component.ts
  packages/components/tree/tree-selection.component.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(experimental): updated focus frame for form-field (#DS-3425)
  packages/components-experimental/form-field/__snapshots__/form-field.spec.ts.snap
  packages/components-experimental/form-field/_form-field-theme.scss
  packages/components-experimental/form-field/form-field.spec.ts
  packages/components-experimental/form-field/form-field.ts
  packages/components/core/form-field/form-field-ref.ts
  packages/components/form-field/form-field.ts
  tools/public_api_guard/components-experimental/form-field.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/form-field.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: unit
  packages/components-experimental/form-field/form-field.spec.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(experimental): updated focus frame for form-field (#DS-3425) (#568)
  packages/components-experimental/form-field/__snapshots__/form-field.spec.ts.snap
  packages/components-experimental/form-field/_form-field-theme.scss
  packages/components-experimental/form-field/form-field.spec.ts
  packages/components-experimental/form-field/form-field.ts
  packages/components/core/form-field/form-field-ref.ts
  packages/components/form-field/form-field.ts
  tools/public_api_guard/components-experimental/form-field.api.md
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/form-field.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore: update date-formatter and date-adapters
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Owners: @lskramarov, @NikGurev, @artembelik

chore: update date-formatter and date-adapters
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Owners: @lskramarov, @NikGurev, @artembelik

fix(docs): links after adding localization
  docs/guides/theming.ru.md
  packages/components-experimental/form-field/experimental-form-field.en.md
  packages/components-experimental/form-field/experimental-form-field.ru.md
  packages/components/badge/badge.ru.md
  packages/components/core/common-behaviors/common-module.ts
  packages/components/core/validation/validation.ru.md
  packages/components/file-upload/file-upload.ru.md
  packages/components/link/link.ru.md
  packages/components/modal/modal.ru.md
  packages/components/popover/popover.ru.md
  packages/components/radio/radio.ru.md
  packages/components/sidepanel/sidepanel.ru.md
  packages/components/tabs/tabs.en.md
  packages/components/tabs/tabs.ru.md
  packages/components/timepicker/timepicker.ru.md
  packages/components/toast/toast.ru.md
  packages/components/tooltip/tooltip.ru.md
  packages/components/tree/examples.tree.ru.md
  packages/components/tree/tree.ru.md
  packages/docs-examples/components/alert/alert-content/alert-content-example.html
  packages/docs-examples/components/link/link-application/link-application-example.ts
  packages/docs-examples/components/link/link-caption/link-caption-example.ts
  packages/docs-examples/components/link/link-external/link-external-example.ts
  packages/docs-examples/components/link/link-general/link-general-example.ts
  packages/docs-examples/components/link/link-icons/link-icons-example.ts
  packages/docs-examples/components/link/link-overview/link-overview-example.ts
  packages/docs-examples/components/link/link-target-blank/link-target-blank-example.ts
  packages/docs-examples/components/link/link-visited/link-visited-example.ts
  packages/docs-examples/components/tree-select/tree-select-footer-overview/tree-select-footer-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: example styles
  packages/docs-examples/components/overflow-items/overflow-items-overview/overflow-items-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(overflow-items): refactored to directive (#DS-3456)
  packages/components-dev/overflow-items/styles.scss
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/overflow-items/overflow-items-overview/overflow-items-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
  tools/public_api_guard/components/overflow-items.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: upd main example
  packages/components-dev/overflow-items/module.ts
  packages/components-dev/overflow-items/template.html
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/overflow-items/overflow-items-overview/overflow-items-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: changed top-bar examples result directive position
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: main example
  packages/components-dev/overflow-items/styles.scss
  packages/docs-examples/components/overflow-items/overflow-items-overview/overflow-items-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: actions-panel examples
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: getWindow
  packages/components/overflow-items/overflow-items.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(overflow-items): refactored to directive (#DS-3456) (#576)
  packages/components-dev/overflow-items/module.ts
  packages/components-dev/overflow-items/styles.scss
  packages/components-dev/overflow-items/template.html
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/overflow-items/overflow-items-overview/overflow-items-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
  tools/public_api_guard/components/overflow-items.api.md
Owners: @lskramarov, @NikGurev, @artembelik

.github/CODEOWNERS:

*                                                        @lskramarov @NikGurev @artembelik

# Components
/packages/components/actions-panel/                      @artembelik
/packages/components/breadcrumbs/                        @NikGurev
/packages/components/filter-bar/                         @lskramarov
