Repository koobiq/angular-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lskramarov, @NikGurev, @artembelik

.github/CODEOWNERS:

*                                                        @lskramarov @NikGurev @artembelik

# Components
/packages/components/actions-panel/                      @artembelik
/packages/components/breadcrumbs/                        @NikGurev
/packages/components/filter-bar/                         @lskramarov

fix: public api
  packages/components/filter-bar/public-api.ts
Owners: @lskramarov

fix: review fixes
  packages/components/filter-bar/filter-bar-search.scss
  packages/components/filter-bar/filter-bar-search.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.scss
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-button.scss
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/components/filter-bar/pipes/pipe-date.scss
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-select.html
Owners: @lskramarov

fix: meta key
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/components/filter-bar/pipes/pipe-text.ts
Owners: @lskramarov

fix: update api-guard
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: text "Ctrl+Enter"
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-text.html
Owners: @lskramarov

fix: added fixes after review
  packages/components-dev/filter-bar/module.ts
  packages/components/dropdown/dropdown.scss
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.scss
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-title.ts
  packages/components/form-field/form-field.scss
Owners: @lskramarov, @NikGurev, @artembelik

fix: "⌘Enter" text
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-text.html
Owners: @lskramarov

fix: added min-width directive for pipe text
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-text.html
  packages/components/filter-bar/pipes/pipe-text.ts
Owners: @lskramarov

fix: linters
  packages/components/filter-bar/_filter-bar-theme.scss
  packages/components/filter-bar/filter-bar-tokens.scss
  packages/components/filter-bar/filter-bar.scss
  packages/components/filter-bar/filters.scss
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-select.scss
  packages/components/filter-bar/pipes/pipe-text.scss
  packages/components/filter-bar/pipes/pipe-text.ts
Owners: @lskramarov

fix: build and deploy
  apps/docs/src/app/services/documentation-items.ts
  packages/components/filter-bar/examples.filter-bar.en.md
  packages/components/filter-bar/examples.filter-bar.ru.md
  packages/components/filter-bar/filter-bar.en.md
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.scss
  packages/components/title/title.directive.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: margin-left
  packages/components/filter-bar/filter-bar.scss
Owners: @lskramarov

fix: unit tests
  packages/components/filter-bar/filter-bar.spec.ts
Owners: @lskramarov

feat: open on add pipe
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-text.ts
Owners: @lskramarov

feat: date pipe
  packages/components/filter-bar/filter-bar.scss
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.scss
  packages/components/filter-bar/pipes/pipe-date.ts
Owners: @lskramarov

feat: datetime pipe
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.ts
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

feat: added docs
  packages/components/filter-bar/filter-bar-button.ts
  packages/components/filter-bar/filter-bar.ru.md
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-text.html
  packages/components/popover/popover.component.ts
  packages/docs-examples/components/filter-bar/filter-bar-cleanable/filter-bar-cleanable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-empty-removable/filter-bar-empty-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-operating-modes/filter-bar-operating-modes-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  packages/docs-examples/components/filter-bar/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: openOnAdd
  packages/components/filter-bar/pipes/base-pipe.ts
Owners: @lskramarov

fix: search after review
  packages/components/filter-bar/filter-bar-reset.ts
  packages/components/filter-bar/filter-bar-search.ts
  packages/components/filter-bar/filter-bar.ts
Owners: @lskramarov

fix: kbq-plus-s_16 -> kbq-plus_16
  packages/components/filter-bar/filters.html
Owners: @lskramarov

fix: filter-bar-cleanable-example and filter-bar-pipe-types-example
  packages/components/filter-bar/filter-bar.ru.md
  packages/docs-examples/components/filter-bar/filter-bar-cleanable/filter-bar-cleanable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: filter-bar-overview - добавление/удаление/сброс
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: filter-bar-saved-filters-example
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: filter-bar-removable-example
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: deleted hours in date/datetime pipes from examples
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: filter-bar-required-example
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/filter-bar.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: highlight added pipes + opening logic
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/core/option/option.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  tools/public_api_guard/components/core.api.md
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: reset and save changes
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/filter-bar-button.ts
  packages/components/filter-bar/filter-bar-reset.ts
  packages/components/filter-bar/filter-bar-search.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.scss
  packages/components/filter-bar/filters.ts
  packages/components/filter-bar/pipe-add.ts
  packages/components/popover/popover.component.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: filter-bar-search-example
  packages/components/filter-bar/pipes/pipe-text.html
  packages/components/filter-bar/pipes/pipe-text.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: selection in date/datetime
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-datetime.ts
Owners: @lskramarov

fix: actions for filter
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
  packages/components/list/list-selection.component.ts
  packages/components/title/title.directive.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  tools/public_api_guard/components/filter-bar.api.md
  tools/public_api_guard/components/popover.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: focusing in select/multiselect pipes
  packages/components/filter-bar/pipe-add.ts
  packages/components/filter-bar/pipes/base-pipe.scss
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/select/select.html
Owners: @lskramarov, @NikGurev, @artembelik

fix: linter errors
  packages/components-dev/filter-bar/template.html
  packages/components/popover/popover.component.ts
Owners: @lskramarov, @NikGurev, @artembelik

docs(filter-bar): welcome page images (#DS-3133)
  apps/docs/src/assets/images/welcome/filter-bar-dark.png
  apps/docs/src/assets/images/welcome/filter-bar-light.png
Owners: @lskramarov, @NikGurev, @artembelik

fix: search
  packages/components/filter-bar/filters.html
Owners: @lskramarov

fix: title in filters
  packages/components/filter-bar/filters.html
  packages/components/popover/popover.component.ts
  packages/components/title/title.directive.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(actions-panel): added new KbqActionsPanelModule
  angular.json
  apps/docs/src/app/services/documentation-items.ts
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components-dev/actions-panel/tsconfig.app.json
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/examples.actions-panel.en.md
  packages/components/actions-panel/examples.actions-panel.ru.md
  packages/components/actions-panel/index.ts
  packages/components/actions-panel/module.ts
  packages/components/actions-panel/ng-package.json
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/components/actions-panel/ng-package.json
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/public_api_guard/components/actions-panel.api.md
  tsconfig.json
Owners: @lskramarov, @NikGurev, @artembelik

refactor: package scripts
  package.json
Owners: @lskramarov, @NikGurev, @artembelik

refactor: sitemap
  tools/generate-sitemap.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added disabledClose property
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @artembelik, @lskramarov, @NikGurev

refactor: added animation
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/module.ts
  packages/components/core/animation/animation.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @artembelik, @lskramarov, @NikGurev
