Repository koobiq/angular-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lskramarov, @NikGurev, @artembelik

.github/CODEOWNERS:

*                                                        @lskramarov @NikGurev @artembelik

# Components
/packages/components/actions-panel/                      @artembelik
/packages/components/breadcrumbs/                        @NikGurev
/packages/components/filter-bar/                         @lskramarov

refactor: added example
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/index.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: upd docs
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
Owners: @artembelik

refactor: added tooltip
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/locale-selector.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/fa-IR.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/core/locales/zh-CN.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: api
  packages/components/actions-panel/actions-panel-container.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Owners: @artembelik, @lskramarov, @NikGurev

refactor: added toast
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: table wrapper paddings
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: example with table
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: removed focus-trap
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: generate sitemap
  apps/docs/src/sitemap.xml
Owners: @lskramarov, @NikGurev, @artembelik

refactor: docs
  packages/components/actions-panel/actions-panel.ru.md
Owners: @artembelik

refactor: overflow-items
  packages/components/overflow-items/overflow-items.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: examples
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: api
  tools/public_api_guard/components/actions-panel.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: disable user-select
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: upd table
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: close on esc
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
Owners: @artembelik

refactor: added new example
  packages/components-dev/actions-panel/module.ts
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix(textarea): save scroll position when out of viewport (#DS-2897)
  packages/components/textarea/textarea.component.ts
  tools/public_api_guard/components/textarea.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore: trigger overall failure if any general check fails
  .github/workflows/ci.yml
Owners: @lskramarov, @NikGurev, @artembelik

chore: test
  packages/components/form-field/form-field.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: tests
  packages/components/filter-bar/filter-bar.karma-spec.ts
  packages/components/filter-bar/filter-bar.types.ts
Owners: @lskramarov

fix: update golden files
  tools/public_api_guard/components/tree-select.api.md
Owners: @lskramarov, @NikGurev, @artembelik

Revert "chore: test"
  packages/components/form-field/form-field.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(docs): added examples for kbq-select-trigger and kbq-select-matcher (#DS-3397, #DS-3393) (#563)
  apps/docs/src/app/services/documentation-items.ts
  packages/components/select/examples.select.en.md
  packages/components/select/examples.select.ru.md
  packages/components/tree-select/examples.tree-select.en.md
  packages/components/tree-select/examples.tree-select.ru.md
  packages/components/tree-select/tree-select.html
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-custom-matcher/select-custom-matcher-example.ts
  packages/docs-examples/components/select/select-custom-trigger/select-custom-trigger-example.ts
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-custom-matcher/tree-select-custom-matcher-example.ts
  packages/docs-examples/components/tree-select/tree-select-custom-trigger/tree-select-custom-trigger-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/tree-select.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore(ci): trigger overall failure if any general check fails (#565)
  .github/workflows/ci.yml
Owners: @lskramarov, @NikGurev, @artembelik

feat(breadcrumbs): support wrap mode (#DS-3352)
  packages/components-dev/breadcrumbs/template.html
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
  packages/docs-examples/components/breadcrumbs/index.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(overflow-items): infinite visibility update (#DS-3450)
  packages/components-dev/overflow-items/styles.scss
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
  tools/public_api_guard/components/overflow-items.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: tests
  packages/components/filter-bar/filter-bar.karma-spec.ts
Owners: @lskramarov

fix(overflow-items): infinite visibility update (#DS-3450) (#567)
  packages/components-dev/overflow-items/styles.scss
  packages/components/overflow-items/overflow-items.karma-spec.ts
  packages/components/overflow-items/overflow-items.ts
  tools/public_api_guard/components/overflow-items.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore: added unit test,split jest and karma
  packages/components/textarea/textarea.component.karma-spec.ts
  packages/components/textarea/textarea.component.spec.ts
Owners: @lskramarov, @NikGurev, @artembelik

chore: update date-adapter & date-formatter
  package.json
  yarn.lock
Owners: @lskramarov, @NikGurev, @artembelik

chore: bump version to 18.18.0 w/ changelog
  CHANGELOG.md
  package.json
Owners: @lskramarov, @NikGurev, @artembelik

refactor: api
  tools/public_api_guard/components-experimental/form-field.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: drop
  packages/components-experimental/form-field/experimental-form-field.en.md
  packages/components-experimental/form-field/experimental-form-field.ru.md
  packages/components-experimental/form-field/form-field.ts
Owners: @lskramarov, @NikGurev, @artembelik

chore(docs): added en docs for experimental-form-field (#569)
  packages/components-experimental/form-field/experimental-form-field.en.md
  packages/components-experimental/form-field/experimental-form-field.ru.md
  packages/components-experimental/form-field/form-field.ts
  tools/public_api_guard/components-experimental/form-field.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(dropdown): item caption color (#DS-3342)
  packages/components/dropdown/_dropdown-theme.scss
  packages/components/dropdown/dropdown-tokens.scss
Owners: @lskramarov, @NikGurev, @artembelik

chore(dev): updated dropdown module
  packages/components-dev/dropdown/main.ts
  packages/components-dev/dropdown/module.ts
  packages/components-dev/dropdown/styles.scss
  packages/components-dev/dropdown/template.html
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added animation
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/module.ts
  packages/components/core/animation/animation.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @artembelik, @lskramarov, @NikGurev

feat(actions-panel): added new KbqActionsPanelModule
  angular.json
  apps/docs/src/app/services/documentation-items.ts
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components-dev/actions-panel/tsconfig.app.json
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/examples.actions-panel.en.md
  packages/components/actions-panel/examples.actions-panel.ru.md
  packages/components/actions-panel/index.ts
  packages/components/actions-panel/module.ts
  packages/components/actions-panel/ng-package.json
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/components/actions-panel/ng-package.json
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/public_api_guard/components/actions-panel.api.md
  tsconfig.json
Owners: @lskramarov, @NikGurev, @artembelik

refactor: sitemap
  tools/generate-sitemap.ts
Owners: @lskramarov, @NikGurev, @artembelik
