Repository koobiq/angular-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lskramarov, @NikGurev, @artembelik

.github/CODEOWNERS:

# Components
*                                                           @lskramarov

/packages/components/accordion/*                            @lskramarov
/packages/components/button/*                               @lskramarov
/packages/components/button-toggle/*                        @lskramarov
/packages/components/datepicker/*                           @lskramarov
/packages/components/filter-bar/*                           @lskramarov
/packages/components/form-field/*                           @lskramarov
/packages/components/list/*                                 @lskramarov
/packages/components/navbar/*                               @lskramarov
/packages/components/popover/*                              @lskramarov
/packages/components/select/*                               @lskramarov
/packages/components/title/*                                @lskramarov
/packages/components/toast/*                                @lskramarov
/packages/components/tooltip/*                              @lskramarov
/packages/components/tree/*                                 @lskramarov
/packages/components/tree-select/*                          @lskramarov

/packages/components/alert/*                                @NikGurev
/packages/components/breadcrumbs/*                          @NikGurev
/packages/components/divider/*                              @NikGurev
/packages/components/empty-state/*                          @NikGurev
/packages/components/file-upload/*                          @NikGurev
/packages/components/icon/*                                 @NikGurev
/packages/components/input/*                                @NikGurev
/packages/components/markdown/*                             @NikGurev
/packages/components/progress-bar/*                         @NikGurev
/packages/components/radio/*                                @NikGurev
/packages/components/sidepanel/*                            @NikGurev
/packages/components/scrollbar/*                            @NikGurev
/packages/components/table/*                                @NikGurev
/packages/components/tags/*                                 @NikGurev
/packages/components/timezone/*                             @NikGurev
/packages/components/toggle/*                               @NikGurev
/packages/components/top-bar/*                              @NikGurev

/packages/components/actions-panel/*                        @artembelik
/packages/components/autocomplete/*                         @artembelik
/packages/components/badge/*                                @artembelik
/packages/components/checkbox/*                             @artembelik
/packages/components/code-block/*                           @artembelik
/packages/components/dl/*                                   @artembelik
/packages/components/dropdown/*                             @artembelik
/packages/components/link/*                                 @artembelik
/packages/components/loader-overlay/*                       @artembelik
/packages/components/modal/*                                @artembelik
/packages/components/overflow-items/*                       @artembelik
/packages/components/progress-spinner/*                     @artembelik
/packages/components/risk-level/*                           @artembelik
/packages/components/timepicker/*                           @artembelik
/packages/components/table/*                                @artembelik
/packages/components/tabs/*                                 @artembelik
/packages/components/textarea/*                             @artembelik
/packages/components/content-panel/*                        @artembelik

# Tools
/tools/api-extractor/*                                      @NikGurev
/tools/api-gen/*                                            @NikGurev

fix(styles): font-style (#DS-3989)
  packages/components/core/styles/common/_tokens.scss
Owners: @lskramarov

chore: disabled validation directive, used error state matcher
  packages/docs-examples/components/validation/validation-message-for-specific-field/validation-message-for-specific-field-example.ts
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.html
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.ts
  packages/docs-examples/components/validation/validation-message-global/validation-message-global-example.ts
  packages/docs-examples/components/validation/validation-no-message/validation-no-message-example.ts
  packages/docs-examples/components/validation/validation-on-blur-filled/validation-on-blur-filled-example.ts
  packages/docs-examples/components/validation/validation-on-blur/validation-on-blur-example.ts
  packages/docs-examples/components/validation/validation-on-open/validation-on-open-example.ts
  packages/docs-examples/components/validation/validation-on-submit/validation-on-submit-example.ts
  packages/docs-examples/components/validation/validation-on-type/validation-on-type-example.ts
  packages/docs-examples/components/validation/validation-optional-label/validation-optional-label-example.ts
  packages/docs-examples/components/validation/validation-required-label/validation-required-label-example.ts
Owners: @lskramarov

chore: added note about errorStateMatcher
  packages/components/core/validation/validation.en.md
  packages/components/core/validation/validation.ru.md
Owners: @lskramarov

fix(styles): font-style (#DS-3989) (#938)
  packages/components/core/styles/common/_tokens.scss
Owners: @lskramarov

fix(datepicker): don' t set error on blur for required (#DS-3520) (#937)
  packages/components/datepicker/datepicker-input.directive.ts
Owners: @lskramarov

chore: upd expiration date of new section
  apps/docs/src/app/services/documentation-items.ts
Owners: @lskramarov

chore(input): added example for password change form (#DS-3965) (#928)
  apps/docs/src/app/services/documentation-items.ts
  packages/components-dev/input/module.ts
  packages/components/input/examples.input.en.md
  packages/components/input/examples.input.ru.md
  packages/docs-examples/components/input/index.ts
  packages/docs-examples/components/input/input-change-password/input-change-password-example.ts
  packages/docs-examples/components/input/input-password-overview/input-password-overview-example.ts
Owners: @lskramarov, @NikGurev

chore: after review
  packages/docs-examples/components/validation/validation-message-for-specific-field/validation-message-for-specific-field-example.ts
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.html
  packages/docs-examples/components/validation/validation-message-global-with-links/validation-message-global-with-links-example.ts
  packages/docs-examples/components/validation/validation-message-global/validation-message-global-example.ts
  packages/docs-examples/components/validation/validation-no-message/validation-no-message-example.ts
  packages/docs-examples/components/validation/validation-on-open/validation-on-open-example.ts
  packages/docs-examples/components/validation/validation-on-submit/validation-on-submit-example.ts
  packages/docs-examples/components/validation/validation-on-type/validation-on-type-example.ts
  packages/docs-examples/components/validation/validation-optional-label/validation-optional-label-example.ts
  packages/docs-examples/components/validation/validation-required-label/validation-required-label-example.ts
Owners: @lskramarov

chore: bump version to 18.33.0 w/ changelog
  CHANGELOG.md
  package.json
Owners: @lskramarov

refactor: scroll
  packages/components-dev/content-panel/module.ts
  packages/components/content-panel/content-panel.en.md
  packages/components/content-panel/content-panel.ru.md
  packages/components/content-panel/content-panel.ts
  packages/docs-examples/components/content-panel/content-panel-scroll-events/content-panel-scroll-events-example.ts
  packages/docs-examples/components/content-panel/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/content-panel.api.md
Owners: @lskramarov, @artembelik

fix(modal): removed form submission on "X" button (#DS-3792)
  packages/components/modal/modal.component.html
  packages/components/modal/modal.directive.ts
Owners: @artembelik

refactor: specs
  packages/components/content-panel/content-panel.spec.ts
Owners: @artembelik

refactor: added isNew badge
  apps/docs/src/app/services/documentation-items.ts
Owners: @lskramarov

fix(input): properly set cursor position on removal (#DS-3237)
  packages/components/input/input-number.ts
Owners: @NikGurev

refactor: tokens
  packages/components/content-panel/content-panel-body.scss
  packages/components/content-panel/content-panel-container.scss
  packages/components/content-panel/content-panel-footer.scss
  packages/components/content-panel/content-panel-header.scss
  packages/components/content-panel/content-panel-tokens.scss
  packages/components/content-panel/content-panel.scss
  packages/components/content-panel/content-panel.ts
Owners: @artembelik

fix(modal): removed form submission on "X" button (#DS-3792) (#940)
  packages/components/modal/modal.component.html
  packages/components/modal/modal.directive.ts
Owners: @artembelik

chore: fixed for negative number
  packages/components/input/input-number.ts
Owners: @NikGurev

refactor: design review
  packages/components-dev/content-panel/module.ts
  packages/components/content-panel/content-panel.ts
  packages/docs-examples/components/content-panel/content-panel-overview/content-panel-overview-example.ts
  packages/docs-examples/components/content-panel/content-panel-with-grid/content-panel-with-grid-example.ts
Owners: @lskramarov, @artembelik

refactor: code-review
  packages/components/content-panel/content-panel.ts
Owners: @artembelik

refactor: api
  tools/public_api_guard/components/content-panel.api.md
Owners: @lskramarov

fix(input): properly set cursor position on number removal (#DS-3237) (#941)
  packages/components/input/input-number.ts
Owners: @NikGurev

fix(actions-panel): overlay container position (#DS-4037)
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  tools/public_api_guard/components/actions-panel.api.md
Owners: @artembelik, @lskramarov

fix(examples): actions panel run time error (#DS-4037)
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov
