Repository koobiq/angular-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lskramarov, @NikGurev, @artembelik

refactor: actions panel dev
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/template.html
Owners: @lskramarov, @NikGurev, @artembelik

refactor: package scripts
  package.json
Owners: @lskramarov, @NikGurev, @artembelik

refactor: update example
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added disabledClose property
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @artembelik, @lskramarov, @NikGurev

refactor: added RTL support
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
Owners: @artembelik

refactor: update config
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.ts
Owners: @artembelik

refactor: close on destroy
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/example-module.ts
Owners: @artembelik, @lskramarov, @NikGurev

refactor: api
  tools/public_api_guard/components/actions-panel.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: simplify example
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added specs
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  tools/public_api_guard/components/actions-panel.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added docs
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/components/core/animation/animation.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: upd docs
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
Owners: @artembelik

refactor: api
  packages/components/actions-panel/actions-panel-container.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Owners: @artembelik, @lskramarov, @NikGurev

refactor: added tooltip
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/locale-selector.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/fa-IR.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/core/locales/zh-CN.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added svg previews
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/assets/images/welcome/actions-panel-dark.png
  apps/docs/src/assets/images/welcome/actions-panel-light.png
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added example
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/index.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: overlayContainer
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: close on esc
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
Owners: @artembelik

refactor: api
  tools/public_api_guard/components/actions-panel.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added new docs section
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
Owners: @artembelik, @lskramarov, @NikGurev

refactor: generate sitemap
  apps/docs/src/sitemap.xml
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added toast
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: docs
  packages/components/actions-panel/actions-panel.ru.md
Owners: @artembelik

refactor: example with table
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: removed focus-trap
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added new example
  packages/components-dev/actions-panel/module.ts
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: table wrapper paddings
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: upd examples
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: disable user-select
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: focus
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: examples
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: updates examples
  packages/components-dev/actions-panel/styles.scss
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: upd table
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: styles
  packages/components-experimental/form-field/_form-field-theme.scss
Owners: @lskramarov, @NikGurev, @artembelik

refactor: api
  tools/public_api_guard/components-experimental/form-field.api.md
  tools/public_api_guard/components/form-field.api.md
  tools/public_api_guard/components/input.api.md
  tools/public_api_guard/components/tags.api.md
  tools/public_api_guard/components/textarea.api.md
  tools/public_api_guard/components/timepicker.api.md
Owners: @lskramarov, @NikGurev, @artembelik

feat(form-field): added focusViaKeyboard method
  packages/components-experimental/form-field/__snapshots__/form-field.spec.ts.snap
  packages/components-experimental/form-field/_form-field-theme.scss
  packages/components-experimental/form-field/form-field.spec.ts
  packages/components-experimental/form-field/form-field.ts
  packages/components/form-field/form-field-control.ts
  packages/components/form-field/form-field.ts
  packages/components/input/input-number.ts
  packages/components/input/input-password.ts
  packages/components/input/input.ts
  packages/components/tags/tag-list.component.ts
  packages/components/textarea/textarea.component.ts
  packages/components/timepicker/timepicker.directive.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added dev focus example
  packages/components-dev/experimental-form-field/module.ts
  packages/components-dev/experimental-form-field/template.html
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added X margins
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-close/actions-panel-close-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix(textarea): save scroll position when out of viewport (#DS-2897) (#564)
  packages/components/textarea/textarea.component.karma-spec.ts
  packages/components/textarea/textarea.component.spec.ts
  packages/components/textarea/textarea.component.ts
  tools/public_api_guard/components/textarea.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore(dev): updated dropdown module (#571)
  packages/components-dev/dropdown/main.ts
  packages/components-dev/dropdown/module.ts
  packages/components-dev/dropdown/styles.scss
  packages/components-dev/dropdown/template.html
Owners: @lskramarov, @NikGurev, @artembelik

.github/CODEOWNERS:

*                                                        @lskramarov @NikGurev @artembelik

# Components
/packages/components/actions-panel/                      @artembelik
/packages/components/breadcrumbs/                        @NikGurev
/packages/components/filter-bar/                         @lskramarov
