Repository koobiq/angular-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lskramarov, @NikGurev, @artembelik

refactor: close on destroy
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/example-module.ts
Owners: @artembelik, @lskramarov, @NikGurev

refactor: added RTL support
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
Owners: @artembelik

refactor: actions panel dev
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/template.html
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added specs
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  tools/public_api_guard/components/actions-panel.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: api
  tools/public_api_guard/components/actions-panel.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: update config
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.ts
Owners: @artembelik

refactor: update example
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: simplify example
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added svg previews
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/assets/images/welcome/actions-panel-dark.png
  apps/docs/src/assets/images/welcome/actions-panel-light.png
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added docs
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/components/core/animation/animation.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: upd docs
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
Owners: @artembelik

refactor: added tooltip
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/locale-selector.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/core/locales/en-US.ts
  packages/components/core/locales/es-LA.ts
  packages/components/core/locales/fa-IR.ts
  packages/components/core/locales/pt-BR.ts
  packages/components/core/locales/ru-RU.ts
  packages/components/core/locales/tk-TM.ts
  packages/components/core/locales/types.ts
  packages/components/core/locales/zh-CN.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: overlayContainer
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: api
  packages/components/actions-panel/actions-panel-container.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Owners: @artembelik, @lskramarov, @NikGurev

refactor: added example
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/docs-examples/components/actions-panel/actions-panel-custom-counter/actions-panel-custom-counter-example.ts
  packages/docs-examples/components/actions-panel/index.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added new docs section
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
Owners: @artembelik, @lskramarov, @NikGurev

refactor: docs
  packages/components/actions-panel/actions-panel.ru.md
Owners: @artembelik

fix(datepicker): incorrect position for month and year selects
  packages/components/datepicker/calendar-header.html
  packages/components/datepicker/datepicker-module.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: api
  tools/public_api_guard/components/datepicker.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: search button name
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-text.html
Owners: @lskramarov

fix: popover position
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
Owners: @lskramarov

fix: select new filter after add
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: focus inputs after open
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/filters.ts
Owners: @lskramarov

fix: rename directives
  packages/components/filter-bar/filter-bar-button.ts
  packages/components/filter-bar/filters.html
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-button.ts
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-datetime.html
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-state.ts
  packages/components/filter-bar/pipes/pipe-text.html
  packages/components/filter-bar/pipes/pipe-title.ts
Owners: @lskramarov

fix: update golden file
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(modal): styles for backdrop (#DS-3371)
  packages/components/modal/_modal-theme.scss
  packages/components/modal/modal.component.html
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.scss
Owners: @lskramarov, @NikGurev, @artembelik

fix(modal): styles for backdrop (#DS-3371) (#550)
  packages/components/modal/_modal-theme.scss
  packages/components/modal/modal.component.html
  packages/components/modal/modal.component.ts
  packages/components/modal/modal.scss
Owners: @lskramarov, @NikGurev, @artembelik

fix: en docs
  packages/components/filter-bar/filter-bar.en.md
Owners: @lskramarov

feat(markdown): bump marked version to 15
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/markdown/markdown.en.md
  packages/components/markdown/markdown.ru.md
  packages/components/markdown/markdown.service.ts
  yarn.lock
Owners: @lskramarov, @NikGurev, @artembelik

refactor: marked dev version
  package.json
  packages/components/markdown/markdown.en.md
  yarn.lock
Owners: @lskramarov, @NikGurev, @artembelik

fix: refactor types
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/components/filter-bar/filter-bar.module.ts
  packages/components/filter-bar/filter-bar.spec.ts
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipe.directive.ts
  packages/components/filter-bar/pipes/base-pipe.ts
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-text.ts
  packages/docs-examples/components/filter-bar/filter-bar-cleanable/filter-bar-cleanable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix(select): frame for invalid state (#DS-3430)
  packages/components/form-field/_form-field-theme.scss
Owners: @lskramarov, @NikGurev, @artembelik

fix: prevent focusing disabled control
  packages/components/select/select.html
  packages/components/tree-select/tree-select.html
Owners: @lskramarov, @NikGurev, @artembelik

docs: design-tokens welcome page image (#DS-3360)
  apps/docs/src/assets/images/welcome/tokens-dark.png
  apps/docs/src/assets/images/welcome/tokens-light.png
Owners: @lskramarov, @NikGurev, @artembelik

fix(datepicker): incorrect position for month and year selects (#DS-3427)
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(datepicker): incorrect position for month and year selects (#DS-3427) (#556)
  packages/components/autocomplete/autocomplete.component.ts
  packages/components/select/select.component.ts
  packages/components/tree-select/tree-select.component.ts
  tools/public_api_guard/components/autocomplete.api.md
  tools/public_api_guard/components/select.api.md
  tools/public_api_guard/components/tree-select.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(docs,link): removed color section (#DS-3398) (#551)
  packages/components/link/link.ru.md
  packages/docs-examples/components/link/index.ts
  packages/docs-examples/components/link/link-color/link-color-example.css
  packages/docs-examples/components/link/link-color/link-color-example.ts
  packages/docs-examples/example-module.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added en
  packages/components/select/select.en.md
  packages/components/select/select.ru.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: examples
  packages/docs-examples/components/select/select-disabled/select-disabled-example.ts
  packages/docs-examples/components/select/select-footer/select-footer-example.ts
  packages/docs-examples/components/select/select-validation/select-validation-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix(docs): restored select stackblitz examples (#DS-3330)
  packages/components-dev/select/module.ts
  packages/docs-examples/components/select/en-US.ts
  packages/docs-examples/components/select/es-LA.ts
  packages/docs-examples/components/select/fa-IR.ts
  packages/docs-examples/components/select/pt-BR.ts
  packages/docs-examples/components/select/ru-RU.ts
  packages/docs-examples/components/select/select-cleaner/select-cleaner-example.ts
  packages/docs-examples/components/select/select-disabled/select-disabled-example.html
  packages/docs-examples/components/select/select-disabled/select-disabled-example.ts
  packages/docs-examples/components/select/select-footer/select-footer-example.html
  packages/docs-examples/components/select/select-footer/select-footer-example.ts
  packages/docs-examples/components/select/select-groups/select-groups-example.ts
  packages/docs-examples/components/select/select-height/select-height-example.ts
  packages/docs-examples/components/select/select-icon/select-icon-example.ts
  packages/docs-examples/components/select/select-multiple/select-multiple-example.ts
  packages/docs-examples/components/select/select-overview/select-overview-example.ts
  packages/docs-examples/components/select/select-prioritized-selected/select-prioritized-selected-example.ts
  packages/docs-examples/components/select/select-search/select-search-example.ts
  packages/docs-examples/components/select/select-validation/select-validation-example.ts
  packages/docs-examples/components/select/select-virtual-scroll/select-virtual-scroll-example.ts
  packages/docs-examples/components/select/select-with-panel-width-attribute/select-with-panel-width-attribute-example.ts
  packages/docs-examples/components/select/zh-CN.ts
Owners: @lskramarov, @NikGurev, @artembelik

.github/CODEOWNERS:

*                                                        @lskramarov @NikGurev @artembelik

# Components
/packages/components/actions-panel/                      @artembelik
/packages/components/breadcrumbs/                        @NikGurev
/packages/components/filter-bar/                         @lskramarov
