Repository koobiq/angular-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lskramarov, @NikGurev, @artembelik

.github/CODEOWNERS:

*                                                        @lskramarov @NikGurev @artembelik

# Components
/packages/components/actions-panel/                      @artembelik
/packages/components/breadcrumbs/                        @NikGurev
/packages/components/filter-bar/                         @lskramarov

fix(formatter): added locale service and docs (#DS-3383)
  apps/docs/src/app/services/documentation-items.ts
  packages/components-dev/date-pipes/module.ts
  packages/components/core/formatters/date/examples.date-formatter.en.md
  packages/components/core/formatters/date/examples.date-formatter.ru.md
  packages/components/core/formatters/date/formatter.ts
  packages/docs-examples/components/date-formatter/absolute-date-formatter/absolute-date-formatter-example.ts
  packages/docs-examples/components/date-formatter/date-formatter-special-use/date-formatter-special-use-example.ts
  packages/docs-examples/components/date-formatter/date-formatter-typical-use/date-formatter-typical-use-example.ts
  packages/docs-examples/components/date-formatter/duration-date-formatter/duration-date-formatter-example.ts
  packages/docs-examples/components/date-formatter/index.ts
  packages/docs-examples/components/date-formatter/range-date-formatter/range-date-formatter-example.ts
  packages/docs-examples/components/date-formatter/relative-date-formatter/relative-date-formatter-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore: bump version to 18.20.0 w/ changelog
  CHANGELOG.md
  package.json
Owners: @lskramarov, @NikGurev, @artembelik

chore: bump version to 18.20.0 w/ changelog
  CHANGELOG.md
  package.json
Owners: @lskramarov, @NikGurev, @artembelik

fix(filter-bar): disabling apply button in text-pipe (#DS-3534)
  packages/components/filter-bar/pipes/pipe-text.ts
Owners: @lskramarov

fix(formatter): added locale service and docs (#DS-3383) (#601)
  apps/docs/src/app/services/documentation-items.ts
  packages/components-dev/date-pipes/module.ts
  packages/components/core/formatters/date/examples.date-formatter.en.md
  packages/components/core/formatters/date/examples.date-formatter.ru.md
  packages/components/core/formatters/date/formatter.ts
  packages/docs-examples/components/date-formatter/absolute-date-formatter/absolute-date-formatter-example.ts
  packages/docs-examples/components/date-formatter/date-formatter-special-use/date-formatter-special-use-example.ts
  packages/docs-examples/components/date-formatter/date-formatter-typical-use/date-formatter-typical-use-example.ts
  packages/docs-examples/components/date-formatter/duration-date-formatter/duration-date-formatter-example.ts
  packages/docs-examples/components/date-formatter/index.ts
  packages/docs-examples/components/date-formatter/range-date-formatter/range-date-formatter-example.ts
  packages/docs-examples/components/date-formatter/relative-date-formatter/relative-date-formatter-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/core.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(popover): show on ENTER keydown (#DS-3303)
  packages/components-dev/button-toggle/module.ts
  packages/components-dev/button-toggle/template.html
  packages/components/core/pop-up/pop-up-trigger.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix(form-field): shadow focus in error state (#DS-3527)
  packages/components/form-field/_form-field-theme.scss
Owners: @lskramarov, @NikGurev, @artembelik

fix(link): noUnderline attribute (#DS-3464) (#596)
  packages/components/link/_link-theme.scss
Owners: @lskramarov, @NikGurev, @artembelik

fix(filter-bar): paddings in date pipe (#DS-3528)
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.scss
  packages/components/filter-bar/pipes/pipe-datetime.html
Owners: @lskramarov

fix(docs): reset button in filter-bar (#DS-3535)
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(breadcrumbs): support wrap mode (#DS-3352)
  packages/components-dev/breadcrumbs/template.html
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
  packages/docs-examples/components/breadcrumbs/index.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore: fixed checks
  packages/components/breadcrumbs/breadcrumbs.spec.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @NikGurev, @lskramarov, @artembelik

feat: support dynamic hiding items in 3 dots
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
Owners: @NikGurev

chore: updated README
  README.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(breadcrumbs): replaced old realization of overflow-items, fixed styles
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
Owners: @NikGurev, @lskramarov, @artembelik

feat(breadcrumbs): negative margin (#DS-3457)
  packages/components/breadcrumbs/breadcrumbs-tokens.scss
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.module.ts
  packages/components/breadcrumbs/breadcrumbs.ru.md
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.spec.ts
  packages/components/breadcrumbs/breadcrumbs.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @NikGurev, @lskramarov, @artembelik

fix(filter-bar): disabling apply button in text-pipe (#DS-3534) (#602)
  packages/components/filter-bar/pipes/pipe-text.ts
Owners: @lskramarov

fix(form-field): shadow focus in error state (#DS-3527) (#605)
  packages/components/form-field/_form-field-theme.scss
Owners: @lskramarov, @NikGurev, @artembelik

fix(filter-bar): paddings in date pipe (#DS-3528) (#606)
  packages/components/filter-bar/pipes/pipe-date.html
  packages/components/filter-bar/pipes/pipe-date.scss
  packages/components/filter-bar/pipes/pipe-datetime.html
Owners: @lskramarov

fix(docs): reset button in filter-bar (#DS-3535) (#607)
  packages/components-dev/filter-bar/module.ts
  packages/components-dev/filter-bar/template.html
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

chore: updated README (#DS-3545) (#610)
  README.md
Owners: @lskramarov, @NikGurev, @artembelik

chore(breadcrumbs): snapshot update
  packages/components/breadcrumbs/__snapshots__/breadcrumbs.spec.ts.snap
Owners: @NikGurev

chore(breadcrumbs): code review changes
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.ru.md
  packages/components/breadcrumbs/breadcrumbs.spec.ts
  packages/components/breadcrumbs/breadcrumbs.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @NikGurev, @lskramarov, @artembelik

chore(breadcrumbs): code review changes
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.ru.md
Owners: @NikGurev

fix(popover): show on ENTER keydown (#DS-3303) (#604)
  packages/components-dev/button-toggle/module.ts
  packages/components-dev/button-toggle/template.html
  packages/components/core/pop-up/pop-up-trigger.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix(popover): show on ENTER keydown (#DS-3303)
  packages/components/core/pop-up/pop-up-trigger.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix(form-field): legacy validate directive selector (#DS-3515)
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/form-field.ts
  packages/components/form-field/validate.directive.ts
  packages/components/select/_select-theme.scss
  packages/components/tree-select/_tree-select-theme.scss
Owners: @lskramarov, @NikGurev, @artembelik

refactor: api
  tools/public_api_guard/components/form-field.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: review
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/form-field.ts
  packages/components/form-field/validate.directive.ts
  packages/components/select/_select-theme.scss
  packages/components/tree-select/_tree-select-theme.scss
  tools/public_api_guard/components/form-field.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(filter-bar): use rangeShortDateTime in datetime pipe (#DS-3532)
  packages/components/filter-bar/pipes/pipe-datetime.ts
Owners: @lskramarov

fix(filter-bar): default values for date pipe (#DS-3533)
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
Owners: @lskramarov

chore(breadcrumbs): code review changes
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.ts
Owners: @NikGurev

fix: after review
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.karma-spec.ts
  packages/components/filter-bar/pipes/pipe-date.scss
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: rename method
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(filter-bar): use rangeShortDateTime in datetime pipe (#DS-3532) (#603)
  packages/components/filter-bar/pipes/pipe-datetime.ts
Owners: @lskramarov

fix(filter-bar): default values for date pipe (#DS-3533) (#609)
  packages/components-dev/filter-bar/module.ts
  packages/components/filter-bar/filter-bar.karma-spec.ts
  packages/components/filter-bar/pipes/pipe-date.scss
  packages/components/filter-bar/pipes/pipe-date.ts
  packages/components/filter-bar/pipes/pipe-datetime.ts
  packages/docs-examples/components/filter-bar/filter-bar-complete-functions/filter-bar-complete-functions-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(form-field, select, tree-select): legacy validate directive selector (#DS-3515) (#608)
  packages/components/form-field/_form-field-theme.scss
  packages/components/form-field/validate.directive.ts
  packages/components/select/_select-theme.scss
  packages/components/tree-select/_tree-select-theme.scss
  tools/public_api_guard/components/form-field.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore(breadcrumbs): removed redundant entity
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.module.ts
  packages/components/breadcrumbs/breadcrumbs.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @NikGurev, @lskramarov, @artembelik

feat(breadcrumbs): moved typography, colors and geometry to separate file
  packages/components/breadcrumbs/_breadcrumbs-theme.scss
  packages/components/breadcrumbs/breadcrumbs.scss
Owners: @NikGurev

chore(breadcrumbs): moved styles to single file
  packages/components/breadcrumbs/_breadcrumbs-theme.scss
  packages/components/breadcrumbs/breadcrumbs.scss
Owners: @NikGurev
