Repository koobiq/angular-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lskramarov, @NikGurev, @artembelik

feat(docs): added lang facetFilters for docsearch (#DS-3364)
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/services/locale.ts
  apps/docs/src/main.ts
  packages/components/core/locales/locale-service.ts
  tools/public_api_guard/components/core.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix: added search in select and multiselect
  packages/components/filter-bar/filter-bar.types.ts
  packages/components/filter-bar/pipes/pipe-multi-select.html
  packages/components/filter-bar/pipes/pipe-multi-select.ts
  packages/components/filter-bar/pipes/pipe-select.html
  packages/components/filter-bar/pipes/pipe-select.ts
  packages/components/filter-bar/pipes/pipe-title.ts
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore(docs,top-bar): wrapped isDesktop to signal
  packages/docs-examples/components/top-bar/top-bar-active-breadcrumb/top-bar-active-breadcrumb-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

chore: fixed webstorm karma test runner
  angular.json
  package.json
Owners: @lskramarov, @NikGurev, @artembelik

chore: fixed webstorm karma test runner (#559)
  angular.json
  package.json
Owners: @lskramarov, @NikGurev, @artembelik

chore(docs,top-bar): fixed focus line
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(docs): added lang facetFilters for docsearch (#DS-3364) (#558)
  apps/docs/src/app/components/docsearch/docsearch.directive.ts
  apps/docs/src/app/services/locale.ts
  apps/docs/src/main.ts
  packages/components/core/locales/locale-service.ts
  tools/public_api_guard/components/core.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore(docs,top-bar): fixed focus line (v2)
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(top-bar): init component (#DS-3126) (#525)
  angular.json
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/assets/images/welcome/top-bar-dark.png
  apps/docs/src/assets/images/welcome/top-bar-light.png
  apps/docs/src/styles/_theme-kbq.scss
  package.json
  packages/components-dev/top-bar/main.ts
  packages/components-dev/top-bar/module.ts
  packages/components-dev/top-bar/styles.scss
  packages/components-dev/top-bar/template.html
  packages/components-dev/top-bar/tsconfig.app.json
  packages/components/core/styles/common/_list.scss
  packages/components/top-bar/examples.top-bar.en.md
  packages/components/top-bar/examples.top-bar.ru.md
  packages/components/top-bar/index.ts
  packages/components/top-bar/module.ts
  packages/components/top-bar/ng-package.json
  packages/components/top-bar/public-api.ts
  packages/components/top-bar/top-bar-tokens.scss
  packages/components/top-bar/top-bar.en.md
  packages/components/top-bar/top-bar.ru.md
  packages/components/top-bar/top-bar.scss
  packages/components/top-bar/top-bar.spec.ts
  packages/components/top-bar/top-bar.ts
  packages/docs-examples/components/top-bar/index.ts
  packages/docs-examples/components/top-bar/ng-package.json
  packages/docs-examples/components/top-bar/top-bar-active-breadcrumb/top-bar-active-breadcrumb-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs/top-bar-breadcrumbs-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-overview/top-bar-overview-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/cspell-locales/ru.json
  tools/generate-sitemap.ts
  tools/public_api_guard/components/top-bar.api.md
  tsconfig.json
Owners: @lskramarov, @NikGurev, @artembelik

chore: bump version to 18.17.0 w/ changelog
  CHANGELOG.md
  package.json
Owners: @lskramarov, @NikGurev, @artembelik

fix(docs): manual installation guide rewritten (#DS-3415)
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(docs): non-blocking CI steps on error (#DS-3404)
  .github/workflows/ci.yml
Owners: @lskramarov, @NikGurev, @artembelik

fix: examples
  packages/components/filter-bar/filter-bar-reset.ts
  packages/components/filter-bar/filter-bar-search.ts
  packages/components/filter-bar/filter-bar.ts
  packages/components/filter-bar/filters.html
  packages/docs-examples/components/filter-bar/filter-bar-cleanable/filter-bar-cleanable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-overview/filter-bar-overview-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-pipe-types/filter-bar-pipe-types-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-removable/filter-bar-removable-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-required/filter-bar-required-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-saved-filters/filter-bar-saved-filters-example.ts
  packages/docs-examples/components/filter-bar/filter-bar-search/filter-bar-search-example.ts
  tools/public_api_guard/components/filter-bar.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(docs): non-blocking CI steps on error (#DS-3404) (#561)
  .github/workflows/ci.yml
Owners: @lskramarov, @NikGurev, @artembelik

refactor: commintlint
  .commitlintrc.js
Owners: @lskramarov, @NikGurev, @artembelik

chore(examples): updated select examples
  .commitlintrc.js
  packages/docs-examples/components/select/select-virtual-scroll/select-virtual-scroll-example.ts
  packages/docs-examples/example-module.ts
Owners: @lskramarov, @NikGurev, @artembelik

chore: added multiline npm install command
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
Owners: @lskramarov, @NikGurev, @artembelik

chore: added radix-ng primitives to install command, removed multiline
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
Owners: @lskramarov, @NikGurev, @artembelik

chore(docs): updated example-module config and removed unused code (#562)
  packages/docs-examples/components/select/select-virtual-scroll/select-virtual-scroll-example.ts
  packages/docs-examples/example-module.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix(docs): manual installation guide rewritten (#DS-3415) (#560)
  docs/guides/installation.en.md
  docs/guides/installation.ru.md
Owners: @lskramarov, @NikGurev, @artembelik

feat(docs): added examples for kbq-select-trigger and kbq-select-matcher (#DS-3397)
  apps/docs/src/app/services/documentation-items.ts
  packages/components/select/examples.select.en.md
  packages/components/select/examples.select.ru.md
  packages/docs-examples/components/select/index.ts
  packages/docs-examples/components/select/select-custom-matcher/select-custom-matcher-example.ts
  packages/docs-examples/components/select/select-custom-trigger/select-custom-trigger-example.ts
  packages/docs-examples/example-module.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: deleted unused code
  packages/docs-examples/components/select/select-custom-matcher/select-custom-matcher-example.ts
  packages/docs-examples/components/select/select-custom-trigger/select-custom-trigger-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

fix: added examples for tree-select
  apps/docs/src/app/services/documentation-items.ts
  packages/components/tree-select/examples.tree-select.en.md
  packages/components/tree-select/examples.tree-select.ru.md
  packages/components/tree-select/tree-select.html
  packages/docs-examples/components/tree-select/index.ts
  packages/docs-examples/components/tree-select/tree-select-custom-matcher/tree-select-custom-matcher-example.ts
  packages/docs-examples/components/tree-select/tree-select-custom-trigger/tree-select-custom-trigger-example.ts
  packages/docs-examples/example-module.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: sitemap
  tools/generate-sitemap.ts
Owners: @lskramarov, @NikGurev, @artembelik

feat(actions-panel): added new KbqActionsPanelModule
  angular.json
  apps/docs/src/app/services/documentation-items.ts
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components-dev/actions-panel/tsconfig.app.json
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/examples.actions-panel.en.md
  packages/components/actions-panel/examples.actions-panel.ru.md
  packages/components/actions-panel/index.ts
  packages/components/actions-panel/module.ts
  packages/components/actions-panel/ng-package.json
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/components/actions-panel/ng-package.json
  packages/docs-examples/example-module.ts
  tools/api-extractor/config.json
  tools/public_api_guard/components/actions-panel.api.md
  tsconfig.json
Owners: @lskramarov, @NikGurev, @artembelik

refactor: actions panel dev
  packages/components-dev/actions-panel/main.ts
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/template.html
Owners: @lskramarov, @NikGurev, @artembelik

refactor: package scripts
  package.json
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added animation
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/components/actions-panel/module.ts
  packages/components/core/animation/animation.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @artembelik, @lskramarov, @NikGurev

refactor: close on destroy
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/example-module.ts
Owners: @artembelik, @lskramarov, @NikGurev

refactor: simplify example
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added RTL support
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
Owners: @artembelik

refactor: update example
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: update config
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-ref.ts
  packages/components/actions-panel/actions-panel.ts
Owners: @artembelik

refactor: added disabledClose property
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.html
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @artembelik, @lskramarov, @NikGurev

refactor: api
  tools/public_api_guard/components/actions-panel.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added docs
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel-tokens.scss
  packages/components/actions-panel/actions-panel.ts
  packages/components/core/animation/animation.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added svg previews
  apps/docs/src/app/services/documentation-items.ts
  apps/docs/src/assets/images/welcome/actions-panel-dark.png
  apps/docs/src/assets/images/welcome/actions-panel-light.png
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added specs
  packages/components-dev/actions-panel/module.ts
  packages/components-dev/actions-panel/styles.scss
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.ts
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  tools/public_api_guard/components/actions-panel.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: overlayContainer
  packages/components-dev/actions-panel/styles.scss
  packages/components-dev/actions-panel/template.html
  packages/components/actions-panel/actions-panel-config.ts
  packages/components/actions-panel/actions-panel-container.scss
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.spec.ts
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/actions-panel-adaptive/actions-panel-adaptive-example.ts
  packages/docs-examples/components/actions-panel/actions-panel-overview/actions-panel-overview-example.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
  tools/public_api_guard/components/actions-panel.api.md
  tools/public_api_guard/components/core.api.md
Owners: @lskramarov, @NikGurev, @artembelik

refactor: added new docs section
  packages/components/actions-panel/actions-panel.en.md
  packages/components/actions-panel/actions-panel.ru.md
  packages/components/actions-panel/actions-panel.ts
  packages/docs-examples/components/actions-panel/index.ts
  packages/docs-examples/example-module.ts
Owners: @artembelik, @lskramarov, @NikGurev

.github/CODEOWNERS:

*                                                        @lskramarov @NikGurev @artembelik

# Components
/packages/components/actions-panel/                      @artembelik
/packages/components/breadcrumbs/                        @NikGurev
/packages/components/filter-bar/                         @lskramarov
