Repository koobiq/angular-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lskramarov, @NikGurev, @artembelik

chore(breadcrumbs): fixed files
  packages/components/breadcrumbs/breadcrumbs.scss
Owners: @NikGurev

feat(button): reduce side padding in buttons (#DS-3072)
  packages/components/button/button-tokens.scss
  packages/components/button/button.scss
  packages/components/dropdown/dropdown.scss
Owners: @lskramarov, @NikGurev, @artembelik

chore(breadcrumbs): moved typography, colors and geometry to separate file (#612)
  packages/components/breadcrumbs/breadcrumbs.scss
Owners: @NikGurev

fix(button): animation in progress state (#DS-3563)
  packages/components-dev/button/styles.scss
  packages/components/button/button.scss
Owners: @lskramarov, @NikGurev, @artembelik

feat(breadcrumbs): refactored layout
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
Owners: @NikGurev

fix(progress-spinner): remove gap if ng-content is not provided
  packages/components/progress-spinner/progress-spinner.scss
Owners: @lskramarov, @NikGurev, @artembelik

feat(breadcrumbs): negative margin (#DS-3457) (#611)
  packages/components/breadcrumbs/__snapshots__/breadcrumbs.spec.ts.snap
  packages/components/breadcrumbs/breadcrumbs-tokens.scss
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ru.md
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.spec.ts
  packages/components/breadcrumbs/breadcrumbs.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @NikGurev, @lskramarov, @artembelik

feat(overflow-items): hide items in the middle
  packages/components/overflow-items/overflow-items.ts
  tools/public_api_guard/components/overflow-items.api.md
Owners: @lskramarov, @NikGurev, @artembelik

feat(top-bar): updated docs examples (#DS-3487)
  apps/docs/src/app/components/live-example-viewer/docs-live-example-viewer.scss
  packages/components-dev/main.scss
  packages/components/top-bar/top-bar.en.md
  packages/components/top-bar/top-bar.ru.md
  packages/docs-examples/components/top-bar/index.ts
  packages/docs-examples/components/top-bar/top-bar-actions/top-bar-actions-example.ts
  packages/docs-examples/components/top-bar/top-bar-active-breadcrumb/top-bar-active-breadcrumb-example.ts
  packages/docs-examples/components/top-bar/top-bar-breadcrumbs-adaptive/top-bar-breadcrumbs-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-overflow/top-bar-overflow-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions-responsive/top-bar-secondary-actions-responsive-example.ts
  packages/docs-examples/components/top-bar/top-bar-secondary-actions/top-bar-secondary-actions-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter-adaptive/top-bar-title-counter-adaptive-example.ts
  packages/docs-examples/components/top-bar/top-bar-title-counter/top-bar-title-counter-example.ts
  packages/docs-examples/example-module.ts
Owners: @lskramarov, @NikGurev, @artembelik

chore(top-bar): dev example
  packages/components-dev/top-bar/template.html
Owners: @lskramarov, @NikGurev, @artembelik

feat(docs): note required @radix-ng/primitives package
  packages/components/accordion/accordion.en.md
  packages/components/accordion/accordion.ru.md
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.ru.md
Owners: @lskramarov, @NikGurev, @artembelik

chore: updated deps @koobiq/icons to 9.4.0 (#DS-3560)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Owners: @lskramarov, @NikGurev, @artembelik

chore: added 'deps' scope
  .commitlintrc.js
Owners: @lskramarov, @NikGurev, @artembelik

chore: added 'deps' scope (#618)
  .commitlintrc.js
Owners: @lskramarov, @NikGurev, @artembelik

chore: fixed text
  packages/components/breadcrumbs/breadcrumbs.ru.md
Owners: @NikGurev

chore: updated deps @koobiq/icons to 9.4.0 (#DS-3560) (#617)
  apps/docs/src/assets/stackblitz/package.json
  package.json
  packages/components/package.json
  yarn.lock
Owners: @lskramarov, @NikGurev, @artembelik

fix: after review
  packages/components-dev/button/template.html
  packages/components/dropdown/dropdown.scss
Owners: @lskramarov, @NikGurev, @artembelik

feat(docs): note required @radix-ng/primitives package (#DS-3494) (#616)
  packages/components/accordion/accordion.en.md
  packages/components/accordion/accordion.ru.md
  packages/components/breadcrumbs/breadcrumbs.en.md
  packages/components/breadcrumbs/breadcrumbs.ru.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(progress-spinner): remove gap if ng-content is not provided (#DS-3568) (#615)
  packages/components/progress-spinner/progress-spinner.scss
Owners: @lskramarov, @NikGurev, @artembelik

feat(button): reduce side padding in buttons (#DS-3072) (#613)
  packages/components-dev/button/template.html
  packages/components/button/button-tokens.scss
  packages/components/button/button.scss
  packages/components/dropdown/dropdown.scss
Owners: @lskramarov, @NikGurev, @artembelik

fix(button): animation in progress state (#DS-3563) (#614)
  packages/components-dev/button/styles.scss
  packages/components/button/button.scss
Owners: @lskramarov, @NikGurev, @artembelik

chore: renamed method
  packages/components/overflow-items/overflow-items.ts
Owners: @lskramarov, @NikGurev, @artembelik

chore(overflow-items,docs): added example
  packages/components-dev/overflow-items/module.ts
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/overflow-items/overflow-items.en.md
  packages/components/overflow-items/overflow-items.ru.md
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/overflow-items/index.ts
  packages/docs-examples/components/overflow-items/overflow-items-result-offset/overflow-items-result-offset-example.ts
  tools/public_api_guard/components/overflow-items.api.md
Owners: @lskramarov, @NikGurev, @artembelik

feat(overflow-items): hide items in the middle
  packages/components/overflow-items/overflow-items.ts
  tools/public_api_guard/components/overflow-items.api.md
Owners: @lskramarov, @NikGurev, @artembelik

chore: renamed method
  packages/components/overflow-items/overflow-items.ts
Owners: @lskramarov, @NikGurev, @artembelik

chore(overflow-items,docs): added example
  packages/components-dev/overflow-items/module.ts
  packages/components/overflow-items/overflow-items.en.md
  packages/components/overflow-items/overflow-items.ru.md
  packages/components/overflow-items/overflow-items.ts
  packages/docs-examples/components/overflow-items/index.ts
  packages/docs-examples/components/overflow-items/overflow-items-result-offset/overflow-items-result-offset-example.ts
  tools/public_api_guard/components/overflow-items.api.md
Owners: @lskramarov, @NikGurev, @artembelik

feat(breadcrumbs): refactored layout
  packages/components/breadcrumbs/breadcrumbs.html
Owners: @NikGurev

feat(breadcrumbs): support wrap mode (#DS-3352)
  packages/components-dev/breadcrumbs/template.html
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/components/breadcrumbs/breadcrumbs.ts
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
  packages/docs-examples/components/breadcrumbs/index.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @lskramarov, @NikGurev, @artembelik

fix(breadcrumbs): replaced old realization of overflow-items, fixed styles
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.scss
  packages/docs-examples/components/breadcrumbs/breadcrumbs-wrap/breadcrumbs-wrap-example.ts
Owners: @NikGurev, @lskramarov, @artembelik

feat: support dynamic hiding items in 3 dots
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
Owners: @NikGurev

chore(breadcrumbs): removed redundant property and conditions
  packages/components/breadcrumbs/breadcrumbs.html
  packages/components/breadcrumbs/breadcrumbs.ts
  tools/public_api_guard/components/breadcrumbs.api.md
Owners: @NikGurev, @lskramarov, @artembelik

.github/CODEOWNERS:

*                                                        @lskramarov @NikGurev @artembelik

# Components
/packages/components/actions-panel/                      @artembelik
/packages/components/breadcrumbs/                        @NikGurev
/packages/components/filter-bar/                         @lskramarov
